.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
week {
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 100%;
  height: 65%;
  border: solid 1px #cccccc;
  margin-bottom: 10px;
}
week > div.week-header {
  float: left;
  width: 100%;
  background: #2875c7;
  height: 40px;
  color: white;
}
week > div.week-header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
week > div.week-header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
week > div.week-header > i.fa-angle-left {
  text-align: left;
}
week > div.week-header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
week > div.week-header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
week > div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #cccccc;
}
week > div.week:first-child {
  border-top: none;
}
week > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #cccccc;
  font-size: 0.75em;
  text-align: center;
  height: 300px;
  display: block;
  vertical-align: top;
  background: white;
  color: black;
}
week > div.week > span.day:first-child {
  border-left: none;
}
week > div.week > span.day.today {
  background: #E3F2FF;
}
week > div.week > span.day.selected {
  background: #CBE1E9;
  color: white;
}
week > div.week > span.day > div.events {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
}
week > div.week > span.day > div.events > div.event {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: block;
  list-style: none;
  height: 90px;
  cursor: pointer;
}
week > div.week > span.day > div.events > div.event > .eventHeader {
  font-size: larger;
  font-weight: 900;
  text-align: left;
  border-radius: 3px;
  padding: 3px;
}
week > div.week > span.day > div.events > div.event > .eventHeader > .time {
  color: #404040;
}
week > div.week > span.day > div.events > div.event > .eventHeader > .host {
  color: #404040;
  margin-left: 5px;
}
week > div.week > span.day > div.events > div.event.hasFreeSlots {
  color: white;
  font-weight: 700;
  background-color: #80e080;
}
week > div.week > span.day > div.events > div.event.hasFreeSlots > .eventHeader {
  /*background-color: #c0e0c0;*/
  background-color: white;
}
week > div.week > span.day > div.events > div.event.noFreeSlots {
  color: white;
  font-weight: 700;
  background-color: #e08080;
}
week > div.week > span.day > div.events > div.event.noFreeSlots > .eventHeader {
  background-color: white;
  /*background-color: #e0c0c0;*/
}
week > div.week > span.day > div.events > div.event > .attendeesCount {
  padding-top: 3px;
}
week > div.week > span.day > div.events > div.event > .userAvatar {
  padding-top: 5px;
}
week > div.week > span.day > div.events > div.event > .userAvatar > img {
  border-radius: 15px;
}
week > div.week.names > span {
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  color: #2875c7;
  font-weight: bold;
  padding-top: 5px;
}
/*# sourceMappingURL=week.css.map */