<div class="week-header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{days[0].date.format("YYYY. MMMM. DD.")}} - {{days[6].date.format("YYYY. MMMM. DD.")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day">H<br/><i ng-show="days[0].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[0].number}}</span>
    <span class="day">K<br/><i ng-show="days[1].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[1].number}}</span>
    <span class="day">Sz<br/><i ng-show="days[2].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[2].number}}</span>
    <span class="day">Cs<br/><i ng-show="days[3].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[3].number}}</span>
    <span class="day">P<br/><i ng-show="days[4].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[4].number}}</span>
    <span class="day">Sz<br/><i ng-show="days[5].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[5].number}}</span>
    <span class="day">V<br/><i ng-show="days[6].isTrainingDay" class="fa fa-heartbeat"></i>&nbsp;{{days[6].number}}</span>
</div>

<div class="week">
    <span class="day"
          ng-class="{ today: day.isToday, trainingDay: day.isTrainingDay, selected: day.date.isSame(selected) }" 
          ng-repeat="day in days">
    
        <div class="events">
            <div class="event" ng-repeat="event in day.events" ng-click="select(event)"
                 ng-class="{'hasFreeSlots': event.hasFreeSlots, 'noFreeSlots': !event.hasFreeSlots}">
                <div class="time">{{event.time}}</div>
                <div class="host">{{event.host}}</div>
                <div>{{event.attendees.length}} résztvevő</div>
                
            </div>
        </div>

    </span>
    
</div>
