<div class="week-header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{days[0].date.format("YYYY. MMMM. DD.")}} - {{days[6].date.format("YYYY. MMMM. DD.")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day">H<br/>{{days[0].number}}</span>
    <span class="day">K<br/>{{days[1].number}}</span>
    <span class="day">Sz<br/>{{days[2].number}}</span>
    <span class="day">Cs<br/>{{days[3].number}}</span>
    <span class="day">P<br/>{{days[4].number}}</span>
    <span class="day">Sz<br/>{{days[5].number}}</span>
    <span class="day">V<br/>{{days[6].number}}</span>
</div>

<div class="week">
    <span class="day"
          ng-class="{ today: day.isToday}" 
          ng-repeat="day in days">
            
        <div class="events">
            <div class="createEvent"><i class="fa fa-plus-circle fa-2x" ng-click="createEvent(day)"></i></div>
            <div class="event" ng-repeat="event in day.events" ng-click="select(event)"
                 ng-class="{'hasFreeSlots': event.hasFreeSlots, 'noFreeSlots': !event.hasFreeSlots}">
                <div class="eventHeader"><span class="time">{{event.time}}</span><span class="trainer">{{event.trainer}}</span></div>
                <div class="attendeesCount">{{event.attendees.length}} / {{event.maxAttendees}} résztvevő</div>
                <div class="deleteEvent"><i class="fa fa-minus-circle fa-2x" ng-click="deleteEvent(event)"></i></div>
            </div>
        </div>

    </span>
    
</div>
