<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">

                <h4>Szeretnél erre a napra helyet foglalni?</h4>

                <!--        <div class="attendees">
                    <div class="attendee reservedSlot" ng-repeat="attendee in day.attendees"><i class="fa fa-bicycle"></i>&nbsp;<span ng-show="!attendee.email">foglalt</span>{{attendee.email}}</div>
                    <div class="attendee freeSlot" ng-repeat="i in day.freeSlots"><i class="fa fa-bicycle"></i>&nbsp;szabad</div>
                </div>-->
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Mégsem</button>
                <button type="button" class="btn btn-primary" ng-click="reserveSlot()">Helyfoglalás</button>
            </div>
        </div>
    </div>
</div>

